/* ------- VARIABLES -------- */

$green:  #00974F;
$green-medium: #005F31;
$green-dark: #004524;

$text-root: 1rem;  // 20px
$text-1: 0.6rem; // 12px
$text-2: 0.7rem; // 14px
$text-3: 0.8rem; // 16px
$text-4: 0.9rem; // 18px
$text-5: 1rem; // 20px
$text-6: 2rem; // 40px
$text-7: 2.25rem; // 45px
$text-8: 3rem; // 60px
$text-9: 3.75rem; // 75px

@font-face {
    font-family: '';
    src: url(../);
}


/* ------- MAIN INFO -------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Poppins";
    font-weight: 400;
    color: #333;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins";
    font-weight: 400;
    color: #333;
    font-size: 20px;
}


/* ------- TITLES, TEXTS -------- */

.text-1 {
    font-size: $text-1;
}

.text-2 {
    font-size: $text-2;
}

.text-3 {
    font-size: $text-3;
}

.text-4 {
    font-size: $text-4;
}

.text-5 {
    font-size: $text-5;
}

.text-6 {
    font-size: $text-6;
}

.text-7 {
    font-size: $text-7;
}

.text-8 {
    font-size: $text-8;
}

.text-9 {
    font-size: $text-9;
}

.fw-200 {
    font-weight: 200;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.text-black {
    color: black;
}

.text-green {
    color: $green;
}

.text-green-dark {
    color: $green-dark;
}

h1 {
    font-size: $text-9;
    font-weight: 700;
}

h2 {
    font-size: $text-6;
    font-weight: 700;
}


/* ------- BACKGROUNDS -------- */

.bg-neat {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-white {
    background-color: white;
}
  
.bg-black {
    background-color: black;
}

.bg-green {
    background-color: $green;
}

.bg-green-medium {
    background-color: $green-medium;
}

.bg-green-dark {
    background-color: $green-dark;
}


/* -----  BORDERS, SHADOWS AND OTHER  ----- */

.rounded-10 {
    border-radius: 10px;
}

.rounded-20 {
    border-radius: 20px;
}

.shadow-card {
    box-shadow: 0px 100px 80px 0px #00000010;
}


/* ------- NAVBAR -------- */
  
.navbar-brand img {
    width: 80px;
}

.nav-link {
    font-size: $text-2;
    color: $green-dark;
    &:hover {
        color: $green-dark;
    }
}


/* ------- HEADER -------- */

header {
    // background: url(../img/hero.png);
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    // height: 90vh; 
    // min-height: 80vh;
}


/* ------- FOOTER -------- */


/* ------- BUTTONS -------- */

.btn {
    min-width: 150px;
    border-radius: 10px;
    padding: 16px 40px;
    font-size: $text-4;
    font-weight: 500;
}

.btn-sm {
    padding: 16px 30px;
    font-size: $text-2;
}

.btn-xs {
    padding: 10px 25px;
    font-size: $text-1;
}

.btn-green {
    background-color: $green;
    color: white;
    &:hover {
        background-color: $green-dark;
        color: white;
    }
}

.btn-white {
    background-color: white;
    color: $green-dark;
    &:hover {
        background-color: $green-dark;
        color: white;
    }
}

.btn-outline-white {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    &:hover {
        background-color: white;
        color: $green-dark;
    }
}

.btn-outline-green-dark {
    background-color: transparent;
    border: 1px solid $green-dark;
    color: $green-dark;
    &:hover {
        background-color: $green-dark;
        color: white;
    }
}

.btn-tab {
    padding: 16px 30px;
    border-radius: 10px;
    background-color: white;
    font-size: $text-2;
    color: $green-dark;
    &.btn-tab-active {
        background-color: $green-medium;
        color: white;
    }
}

.button-style-none {
    border: none !important;
    background: transparent !important;
}

button:active {
    outline: none !important;
    border: none !important;
}
  
button:focus {
    outline: 0 !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    user-select: none;
}


/* ------- FORMS -------- */

.form-control {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
    color: white;
    font-size: $text-3;
}

.form-control:focus {
    background-color: transparent;
    box-shadow: none;
    outline: none;
    border-color: white;
    color: white;
    &::placeholder {
        opacity: 0.5;
    }
}

::placeholder {
    color: rgba(255, 255, 255, 0.7) !important;
    font-size: $text-3;
}
  
:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.7) !important;
    font-size: $text-3;
}
  
::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.7) !important;
    font-size: $text-3;
}

.form-check-input {
    margin-top: 0.35em;
}


/* ------- SWIPER -------- */

.testimonialSwiper {
    .swiper-button-prev {
        left: calc(50% - 40px) !important;
        top: calc(100% - 20px) !important;
    }

    .swiper-button-next {
        right: calc(50% - 40px) !important;
        top: calc(100% - 20px) !important;
    }
}

.servicesSwiper {
    .swiper-button-prev {
        left: 0 !important;
        top: calc(100% - 20px) !important;
    }

    .swiper-button-next {
        right: unset !important;
        left: 40px !important;
        top: calc(100% - 20px) !important;
    }
}

.swiper-button-prev::after,
.swiper-button-next::after {
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.swiper-button-prev::after {
    background-image: url(../img/arrow.svg);
    transform: rotate(180deg);
}

.swiper-button-next::after {
    background-image: url(../img/arrow.svg);
}


/* ------- TABLES -------- */

.table * {
    color: $green-dark !important;
    border-color: $green !important;
}

/* ------- POSITIONING -------- */

.anchor {
    padding-top: 100px;
    margin-top: -100px;
}

.w-70 {
    width: 70%;
}

.w-20 {
    width: 20%;
}

.transform-y-n20 {
    transform: translateY(-20%);
}

.my-sec {
    margin-top: 60px;
    margin-bottom: 60px;
}

.mb-sec {
    margin-bottom: 60px;
}

.py-sec {
    padding-top: 60px;
    padding-bottom: 60px;
}

.z-0 {
    z-index: 0;
}

.z-1 {
    z-index: 1;
}

.z-2 {
    z-index: 2;
}


/* ------- ACTIONS -------- */

.pointer {
    cursor: pointer;
}

a,
a:hover {
    text-decoration: none;
}


/* ------- OTHER -------- */

.list-item-pill {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid white;
    padding: 5px 25px;
    font-size: $text-2;
}


/* ------- QUERIES -------- */

@media (max-width: 991px) {
    
}

// Small devices
@media (min-width: 576px) {}

// Medium devices
@media (min-width: 768px) {
    .w-md-50 {
        width: 50%;
    }
}

// Large devices
@media (min-width: 992px) {
    .container {
        width: 85%;
    }

    .position-lg-absolute {
        position: absolute;
    }

    .w-lg-50 {
        width: 50%;
    }

    .w-lg-75 {
        width: 75%;
    }

    .my-sec {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .mb-sec {
        margin-bottom: 100px;
    }
    
    .py-sec {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .transform-y-lg-n50 {
        transform: translateY(-50%);
    }

    .text-lg-1 {
        font-size: $text-1;
    }

    .text-lg-2 {
        font-size: $text-2;
    }

    .text-lg-3 {
        font-size: $text-3;
    }

    .text-lg-5 {
        font-size: $text-5;
    }

    .text-lg-6 {
        font-size: $text-6;
    }

    .text-lg-7 {
        font-size: $text-7;
    }

    .text-lg-8 {
        font-size: $text-8;
    }

    .text-lg-9 {
        font-size: $text-9;
    }

    .navbar-brand img {
        width: 100px;
    }
}

// Extra large devices
@media (min-width: 1600px) {
    .container {
        width: 80%;
    }
}